.contenedorprincipal{
    display: flex;
    position: relative;
    align-items: center;
}


.contenedorprincipal::before{
    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28rem;
    background: #FB8500;
    position: absolute;
    z-index: -1;
    filter: blur(150px)
}

.contenedorprincipal::before{
    bottom:2rem;
    right: 0rem;

}

/*se establece cada estilo que contiene mi contenedor */
.contenedorhome{
    flex: 1;
}

.contenedorhome h1{
    width: 110%;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}



.contenedorhome p{
   width: 99%;
   font-weight: 400;
   line-height: 2rem;
   font-size: 1rem;
}

.styleimg {
    flex: 1;
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    margin-left: 9rem;
    flex-direction: column;
    display: flex;

}

.styleimg > div{
    display: flex;
    align-items: flex-end;
    gap:2rem
}

.styleimg > div >img{
    display: flex;
    align-items: flex-end;
    gap:2rem;
    width: 65%;
    height: 65%;
    border-radius: 50px;
    transition: all 0.4s ease;
}
 

.tecnologias {
    width: 4.5rem;
    height: 4.5rem;
    align-items: center;
    display: flex;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    border-radius: 0.8rem;
    border:5px solid #E9ECEF;
    
 }
 
 .tecnologias  img{
     display: flex;
     align-items: flex-end;
     margin: 0 auto;
     gap:2rem;
     width: 50%;
     height: 50%;
     border-radius: 10px;
     cursor: pointer;
 
 }


.tecnologias1 {
    width: 5rem;
    height: 5rem;
    align-items: center;
    display: flex;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    border-radius: 0.8rem;
    border:4.5px solid #E9ECEF;
    
 }
 
 .tecnologias1  img{
     display: flex;
     align-items: flex-end;
     margin: 0 auto; /*esto alinea las img dentro de mi contenedor*/
     gap:2rem;
     width: 55%;
     height: 55%;
     border-radius: 10px;
 
 }

 /*es para darle como animacion a las img*/
 .styleimg > div > img:hover, 
 .tecnologias1 img:hover,
 .tecnologias img:hover{
    transform: translateY(-0.5rem);
 }

 
 @media(max-width: 1000px){ /*se modifica cuando esta 1000px cambia los parametros de mis estilos y asi con las demas media*/
    .contenedorhome h1{

        font-size: 3.2rem;
        line-height: 3.9rem;
    }

    .contenedorhome p{
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .styleimg > div > img{
        width: 60%; 
    }

    .tecnologias{
        width: 4rem;
        height: 4rem;
    }

    .tecnologias1{
        width:4rem;
        height: 4rem;
    }

    .tecnologias img{
        width: 50%;
    }

    .tecnologias1 img{
        width: 50%;
    }
 }

 @media(max-width: 400px){
    .contenedorhome h1{
        font-size: 100%;
        line-height: 4rem;
    }

    .contenedorhome p{
        font-size: 0.8rem;
        line-height: 1.6rem;
    }

    .styleimg{
        margin-left: none;
        gap: 1rem;
    }

    .styleimg > div {
        gap: 1rem;
    }

    .styleimg > div > img{
        width: 50%;
    }

    .tecnologias{
        width: 4rem;
        height: 4rem;
    }

    .tecnologias1{
        width: 4rem;
        height: 4rem;
    }

    .tecnologias1 img{
        width: 45%;
    }

    .tecnologias img{
        width: 45%;
    }



 }

 @media(max-width: 850px){
    .contenedorprincipal{
        flex-direction: column;
    }

    .styleimg{
        margin: 2rem 0 2rem 0;
    }

    .contenedorprincipal h1{
        margin-top: 3rem;
    }

    .contenedorhome h1,
    
    .contenedorhome p
    {
        width: auto;
        text-align: center;

    }

    .contenedorprincipal::after,
    .contenedorprincipal::before{
        content: " ";
        width: 15rem;
        height: 15rem;
    }

    .contenedorprincipal::after{
        top:0%;
        left: 0%;;
    }

    .contenedorprincipal::before{
        top: 1.8rem;
        right:0%;
    }

 }