.contenedorprincipal{
    display: flex;
    position: relative;
    align-items: center;
}


.contenedorprincipal::before{
    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28rem;
    background: #FB8500;
    position: absolute;
    z-index: -1;
    filter: blur(350px)
}

.contenedorprincipal::before{
    bottom:2rem;
    right: 0rem;

}

/*se establece cada estilo que contiene mi contenedor */
.contenedorhome{
    flex: 1;
}

.contenedorhome h1{
    width: 110%;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}



.contenedorhome p{
   width: 99%;
   font-weight: 400;
   line-height: 2rem;
   font-size: 1rem;
}

.styleimg {
    flex: 1;
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    margin-left: 9rem;
    flex-direction: column;
    display: flex;

}

.styleimg > div{
    display: flex;
    align-items: flex-end;
    gap:2rem
}

.styleimg > div >img{
    display: flex;
    align-items: flex-end;
    gap:2rem;
    width: 65%;
    height: 65%;
    border-radius: 50px;
    transition: all 0.4s ease;
}
 

.tecnologias {
    width: 4.5rem;
    height: 4.5rem;
    align-items: center;
    display: flex;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    border-radius: 0.8rem;
    
 }
 
 .tecnologias  img{
     display: flex;
     align-items: flex-end;
     margin: 0 auto;
     gap:2rem;
     width: 50%;
     height: 50%;
     border-radius: 10px;
     cursor: pointer;
 
 }


.tecnologias1 {
    width: 5rem;
    height: 5rem;
    align-items: center;
    display: flex;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    border-radius: 0.8rem;
    
 }
 
 .tecnologias1  img{
     display: flex;
     align-items: flex-end;
     margin: 0 auto; /*esto alinea las img dentro de mi contenedor*/
     gap:2rem;
     width: 55%;
     height: 55%;
     border-radius: 10px;
 
 }

 /*es para darle como animacion a las img*/
 .styleimg > div > img:hover, 
 .tecnologias1 img:hover,
 .tecnologias img:hover{
    transform: translateY(-0.5rem);
 }
