.contact-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #1B263B 0%, #1c2b3c 100%);
    border-radius: 0.65rem;
    border: 3px solid white;
    padding: 1.5rem;
    margin-bottom: 2rem;
}


.contact-card .icon{
width: 4rem;
height: 4rem;
display: flex;
align-items: center;
justify-content: center;
border-radius: 0.5rem;
background: linear-gradient(180deg, #E85D04 0%, #FB8500 100%);
margin-bottom: 0.8rem;
}


.icon img{
    width: 1.8rem;
    height: auto;
    object-fit: contain;

}


.contact-card p{

    font-size: 0.9rem;
    font-weight: 400;
    }
    


