.contenidoPrincipal{
    margin: 4rem 0;
    position:relative;
}

.contenidoPrincipal::before{
    content: "";
    width: 28rem;
    height: 28rem;
    background: linear-gradient(180deg, #e68950 0%, #8e4e05 100%);
    position: absolute;
    z-index: -1;
    filter:blur(200px)
}






.contenidoPrincipal h4{
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
}

.informacion{
    flex:1;
}
.styleContenido{
    display: flex;
    align-items: flex-start;
    gap:2rem;
}

.styleHabilidades{
    flex:1;
    display: grid;
    grid-gap:3rem;
    grid-template-columns: repeat(2,1fr);

}

.informacion{
    flex:1
}




@media(max-width: 1000px){
.styleHabilidades{
    padding-left: 1rem;

}


.styleHabilidades,
.styleContenido{
    grid-gap: 2rem;
}


}

@media(max-width: 700px){
    .styleContenido{
        flex-direction: column-reverse;
        gap:3rem
    }

    .styleHabilidades,
    .informacion{
        width: 100%;
    }


    .contenidoPrincipal h4{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .contenidoPrincipal::after,
    .contenidoPrincipal::before{
        width: 18rem;
        height: 18rem;
    }
}

@media(max-width: 600px){
    .contenidoPrincipal{
        padding: 0;
    }
}